/* Global Variable*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
}
h1 {
    font-size: 2.6rem;
}
li,
button,
input,
label {
    font-size: 1.5rem;
}
h2 {
    font-size: 4.8rem;
}
h3 {
    font-size: 2rem;
    font-weight: normal;
}
h4,
h5 {
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
}
p {
    font-size: 2rem;
}
button {
    padding: 1rem 5rem;
    background-color: #27394e;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 2rem;
}
.main-head {
    background-color: #27394e;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    z-index: 3;
}
nav {
    display: flex;
    width: 90%;
    padding: 1.5rem;
    min-height: 10vh;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}
nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#logo {
    flex: 2 1 40rem;
    font-family: "Pattaya", sans-serif;
    font-weight: 800;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./img/herobg.jpg);
    min-height: 90vh;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#main_title {
    font-weight: 900;
    text-decoration: underline red;

    background-image: url(https://media.giphy.com/media/3oGRFHO6YQrxnnU5Ta/giphy.gif);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.hero h3 {
    padding: 3rem;
}
/*  locatin section  */
#location {
    background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url(./img/location.jpg);
    min-height: 100vh;
    color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
}
.location_head {
    width: 90%;
    margin: auto;
}
.location_head h2 {
    padding: 1rem 0rem;

    background-image: url(https://media.giphy.com/media/3oGRFHO6YQrxnnU5Ta/giphy.gif);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.location_head h3 {
    padding: 3rem 0rem;
}

.cloud {
    width: 40%;
    position: absolute;
    top: 0%;
    right: 0%;
}
.moving-cloud1 {
    animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud2 {
    right: 10%;
    animation: cloudAnimation 4s infinite alternate ease-out;

    opacity: 0.5;
}
@keyframes cloudAnimation {
    from {
        transform: translate(10%, -10%);
    }
    to {
        transform: translate(0%, 0%);
    }
}
/* benefits section*/
#benefits {
    min-height: 100vh;
}
.benefits-header {
    padding: 3rem;
    min-height: 30vh;
    background-color: #464e4e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.benefits-header h4 {
    padding: 1rem;
}
.cards {
    width: 90%;
    min-height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.cards h4,
p {
    padding: 2rem;
}
.cards_item {
    margin-bottom: 1rem;
    min-height: 40vh;
    flex: 1 1 25rem;
    margin: 2rem 5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.2);
}

.card_icon {
    background-color: #27394e;
}
#icon {
    margin-top: 1rem;
    height: 10rem;
}
/*contact section*/
#contact {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(./img/contactbg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper {
    background-color: rgba(19, 28, 39, 0.8);
    color: white;
    width: 60%;
    border-radius: 20px;
}
.form-head {
    text-align: center;
    padding: 2rem;
}
.name-form,
.email-form {
    text-align: center;
    padding: 2rem;
}
.form-wrapper label {
    margin: 1rem 3rem;
    font-size: 2rem;
}
.form-wrapper input {
    padding: 5px 2rem;
    border: none;
    margin-top: 1rem;
}
.form-wrapper button {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
footer {
    background-color: #27394e;
}
.footer-sec {
    display: flex;
    width: 90%;
    padding: 1.5rem;
    min-height: 10vh;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 932px) {
    html {
        font-size: 45%;
    }
    a {
        font-size: 2rem;
    }
    nav {
        text-align: center;
    }
    #logo {
        padding: 1rem;
    }
    .location_head h2 {
        font-size: 2.4rem;
        font-weight: 800;
    }
    .location_head h3 {
        font-size: 2rem;
    }
    .cloud {
        width: 70%;
    }
    .benefits-header h2 {
        font-size: 3.2rem;
    }
    .benefits-header h4 {
        font-size: 1.5rem;
    }
}
